<% provide(:title, "Log in") %>
<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="input-field">
    <i class="material-icons prefix">account_box</i>
    <%= f.text_field :name, class: 'validate' %>
    <%= f.label :name %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">lock</i>
    <%= f.password_field :password, class: 'validate' %>
    <%= f.label :password %>
  </div>

  <%= f.button class: "btn" do %>
    Log in
    <i class="material-icons right">send</i>
  <% end %>
<% end %>
