<div class="col s12 <%= mcol %>">
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        <small>
          <%= article.title %>
          <% unless article.public? %>
          <i class="material-icons">lock</i>
          <% end %>
        </small>
      </span>
      <div class="right">
        <i class="material-icons tiny">subject</i>
        <%= link_to article.category.name, article.category %>
        &nbsp;
        <i class="material-icons tiny">person</i>
        <%= link_to article.user.display_name, article.user %>
      </div>
      <br>
      <div class="right">
        <i class="material-icons tiny">access_time</i>
        <%= article.created_at.strftime("%b. %d, %Y") %>
        &nbsp;
        <i class="material-icons tiny">visibility</i>
        <%= article.count %>
      </div>
    </div>

    <div class="card-action">
      <%= link_to "Read this article", article %>
    </div>
  </div>
</div>
