<%= form_for(@userinfo) do |f| %>
  <%= render 'shared/error_messages', object: @userinfo %>

  <div class="row">
    <div class="input-field col s8">
      <%= f.text_area :description, class: 'materialize-textarea', rows: 20, wrap: :off %>
      <%= f.label :description %>
    </div>

    <%= f.hidden_field :user_id %>

    <div class="col s4">
      <div class="row">
        <div class="col s12">
          <%= image_tag @userinfo.icon.url, class: 'responsive-img' if @userinfo.icon? %>
        </div>
      </div>

      <div class="input-field file-field">
        <div class="btn">
          <span>Image</span>
          <%= f.file_field :icon %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload your icon">
        </div>
        <%= f.hidden_field :icon_cache %>
      </div>
    </div>
  </div>

  <%= f.button class: "btn" do %>
    <%= yield(:button_text) %>
    <i class="material-icons right">send</i>
  <% end %>
<% end %>
