<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :name, class: 'validate' %>
      <%= f.label :name %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :nickname, class: 'validate' %>
      <%= f.label :nickname %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password, class: 'validate' %>
      <%= f.label :password %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'validate' %>
    </div>
  </div>

  <%= f.button class: "btn" do %>
    <%= yield(:button_text) %>
    <i class="material-icons right">send</i>
  <% end %>
<% end %>
