<% provide(:title, "Category") %>

<div class="row">
  <%= image_tag @category.image.url, class: 'col s12' %>
</div>

<div class="row">
  <div class="col s6">
    <h5><%= @category.name %></h5>
    <p>
      <%= @category.description %>
    </p>
  </div>

  <div class="col s6">
    <div class="col s12">
      <h5>Articles</h5>
    </div>

    <%= render @articles, mcol: 'm12', image: false %>

    <div class="col s12">
      <%= link_to "more articles...", articles_path(category_id: @category.id) %>
    </div>
  </div>
</div>

<% if logged_in? %>
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li>
      <%= link_to edit_category_path(@category), class: "btn-floating green" do %>
        <i class="large material-icons">create</i>
      <% end %>
    </li>
    <li>
      <%= link_to @category, method: :delete, class: "btn-floating blue", data: {confirm: "You sure?"} do %>
        <i class="large material-icons">delete</i>x
      <% end %>
    </li>
  </ul>
</div>
<% end %>
